body {
  background-color: rgba(0, 0, 0, 0.75);
}

.profilePic {
  width: 5%;
  height: 5%;
  margin-left: 2em;
  border-radius: 50%;
}

.navigationButtons {
  position: absolute;
  top: 1em;
  right: 3em;
}

.navigationButton {
  width: 10em;
  height: 5em;
}

.icon {
  position: relative;
  top: -2em;
  left: 2em;
  margin-right: 1em;
}

.topMenu {
  position: relative;
  padding: 1em;
}

.footer {
  color: grey;
  text-align: center;
  padding-bottom: 2em;
}

.goUppButton {
  position: fixed;
  bottom: 0;
  left: 95%;
  margin-bottom: 10px;
}
